/*
 * By dingchun 
 *    2013.3.11
 */


.navbar-inverse .navbar-inner{
	
}

.navbar {
    /*box-shadow: 0 4px 6px rgba(0,0,0,0.2);*/
}

.navbar-inverse .brand {
	font-weight: bold;
}

.navbar-fixed-top {
	position: fixed;
}

.navbar-innernavbar-inner .brand {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
}

.navbar .nav>li>a {
	padding: 10px 12px 10px;
}

#content {
    margin-top: 10px; 
    margin-left: 8%; 
    margin-right: 8%;
    background:#eee;
    box-shadow: 0 0 60px rgba(0,0,0,.2);
}

#content .icon-add,
#content .icon-remove,
#content .icon-refresh {    
    height: 16px;
    line-height: 16px;
    margin: 0; 
    padding: 0;       
    vertical-align: baseline;
    display: inline-block;
}

.trBgColor {
	background: blue;
}

/*Test*/
.winButton{
	text-align:right;
	padding:5px 5px 10px;
}

.winForm{
	padding:15px 0px 10px 10px;
}

.winTextarea{
	width: 196px;
	resize: none;
}

.datagrid-btable span,
.datagrid-btable div,
.datagrid-htable span {
    font-size: 14px;
}

.baseTitle {   
    position: relative;
    padding: 8px 25px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.538em;
    color: #fff;    
    text-shadow: 1px 1px 2px #555;
    box-shadow: 0 3px 4px rgba(180,180,180,.8);
    background: -webkit-gradient(linear,50% 100%,50% 0,color-stop(0%,rgba(255,255,255,.1)),color-stop(20%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,.3)));
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 20%,rgba(255,255,255,.3) 100%);
    background: -moz-linear-gradient(bottom,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 20%,rgba(255,255,255,.3) 100%);
    background: -o-linear-gradient(bottom,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 20%,rgba(255,255,255,.3) 100%);
    background: linear-gradient(bottom,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 20%,rgba(255,255,255,.3) 100%);
    background-color: #96a9ba;
}

.baseTitle:after {
    content: "";
    position: absolute;
    border: 1px dashed white;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
}

.subordinate {
    padding-top: 10px;
    /*line-height: 40px;*/
}

.panel .messager-body {
    /*height:18px!important;*/
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

.project{
	padding-top: 45px;
}

#content .navbar+.project{
    padding-top: 85px;
}

.tabs li {
    line-height: 0!important;
}

/*.tabs-p-tool .icon-mini-add {
    background: url("../../../static/extraneous/bootstrap/img/glyphicons-halflings.png") 373px 86px;
}*/

.projectImg {
    width:200px;
    height:200px;
    background: #555555;
}

.projectInformation {
    
}

.datagrid-header .datagrid-cell {
    width: 42px;
}

.datagrid-btable .datagrid-cell-c1-img {
    width: 50px;
    padding-right: 0;
    padding-left: 0;
}

.group-inner {
    display:none;
}
