<style>
	.mainLayout {
		position: absolute;
		width: 590px;
		background-color: #fff;
		border: 1px solid gray;
		/*background: url('/static/BaseSys/img/bg_main.png')*/
	}
	.icon_div {
		text-align: center;
		height: 100px;
		width: 100px;
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		margin-bottom: 10px;
		cursor: pointer;
		/*background-color: #eee;*/
	}

	.icon_img {
		height: 85px;
		width: 85px;
	}

	.icon_span {
		float: none;
		margin-left: 0px;
		color: #000;
	}

</style>

<li class="dropdown">
	<a href="" class="dropdown-toggle " data-toggle="dropdown"><img src="/static/BaseSys/img/Pillars_logo.png" style="width: 60px;" /><b class="caret"> </b></a>
	<div class="dropdown-menu mainLayout">
		<a href="/ProjectManSys">
		<div class="icon_div">
			<img src="/static/BaseSys/img/ProjectManSys72.png" class="icon_img">
			<br />
			<span class="icon_span">Project</span>
		</div> </a>

		<a href="/TimeSheetSys">
		<div class="icon_div">
			<img src="/static/BaseSys/img/TimeSheetSys72.png" class="icon_img">
			<br />
			<span class="icon_span">Timesheet</span>
		</div> </a>

		<a href="/CalendarSys">
		<div class="icon_div">
			<img src="/static/BaseSys/img/CalendarSys72.png" class="icon_img">
			<br />
			<span class="icon_span">Calendar</span>
		</div> </a>
		<a href="/ContactSys">
		<div class="icon_div">
			<img src="/static/BaseSys/img/Other_Contacts72.png" class="icon_img">
			<br />
			<span class="icon_span">Address</span>
		</div> </a>
		<a href="/BaseSys">
		<div class="icon_div">
			<img src="/static/BaseSys/img/BaseSys72.png" class="icon_img">
			<br />
			<span class="icon_span">Setting</span>
		</div> </a>

		<!-- <a href="/MaterialManSys"> -->
		<a href="javascript::void(0)">
		<div class="icon_div">
			<img src="/static/BaseSys/img/MaterialManSys72.png" class="icon_img">
			<br />
			<span class="icon_span" style="color:gray;">Material</span>
		</div> </a>
		<!-- <a href="/RenderManSys"> -->
		<a href="javascript::void(0)">
		<div class="icon_div">
			<img src="/static/BaseSys/img/RenderManSys72.png" class="icon_img">
			<br />
			<span class="icon_span" style="color:gray;">Render</span>
		</div> </a>
		<!-- <a href="/AssetSys"> -->
		<a href="javascript::void(0)">
		<div class="icon_div">
			<img src="/static/BaseSys/img/Other_Asset72.png" class="icon_img">
			<br />
			<span class="icon_span" style="color:gray;">Asset</span>
		</div> </a>

		<a href="/">
		<div class="icon_div">
			<img src="/static/BaseSys/img/home.png" class="icon_img">
			<br />
			<span class="icon_span">Home</span>
		</div> </a>

	</div>
</li>