{% extends "CalendarSys.html" %}
{% block mainbox %}

    <div style="display:none;">
    <div id="app-header-content">
        <span id="app-msg" class="x-hidden"></span>
        <span id="user-id" class="x-hidden">{{id}}</span>
        <span id="username" class="x-hidden">{{username}}</span>
        <span id="date" class="x-hidden">{{date}}</span>
        <span id="editable" class="x-hidden">{{editable}}</span>
        <span id="mode" class="x-hidden">{{mode}}</span>
        <span id="rank" class="x-hidden">{{rank}}</span>
        <span id="rank_require" class="x-hidden">{{rank_require}}</span>
        <span id="pre_status" class="x-hidden">{{pre_status}}</span>
    </div>
    </div>
{% endblock %}
