<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Settting - Pillars Matrix</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- CSS styles -->
		<link href="/static/extraneous/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/main_all.css"/>
		<link rel="stylesheet" type="text/css" href="/static/BaseSys/css/main.css"/>

		<!-- JS styles -->
		<script src="/static/extraneous/jquery/jquery.js"></script>
		<script type="text/javascript" src="/static/extraneous/bootstrap/js/bootstrap.min.js"></script>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body class="body-scrollable">
		<!-- Navbar================================================== -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<!-- <span class="brand"> <img src="/static/BaseSys/img/Pillars_logo.png" style="width: 100px;" /> - 设置 </span> -->
					<!-- <a class="brand" href="/BaseSys">基础管理子系统</a> -->
					<div class="nav-collapse collapse">
						<ul class="nav">

							{% include 'include/first_menu.html' %}

							<li id="baseIndexLnk" class="">
								<a href="/BaseSys">Index</a>
							</li>
							<li id="basePeopleLnk" class="">
								<a href="/BaseSys/people">Account </a>
							</li>
							<!-- <li class="">
								<a href="/BaseSys/permissions">权限</a>
							</li> -->
							
							
						</ul>

						{% include 'include/last_menu.html' %}

					</div>
				</div>
			</div>
		</div>
		<div id="content">
			{% block mainbox %}
			{% endblock %}
		</div>
	</body>
</html>