<!DOCTYPE html>
<!-- Ticket #11289, IE bug fix: always pad the error page with enough characters such that it is greater than 512 bytes, even after gzip compression abcdefghijklmnopqrstuvwxyz1234567890aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyyzz11223344556677889900abacbcbdcdcededfefegfgfhghgihihjijikjkjlklkmlmlnmnmononpopoqpqprqrqsrsrtstsubcbcdcdedefefgfabcadefbghicjkldmnoepqrfstugvwxhyz1i234j567k890laabmbccnddeoeffpgghqhiirjjksklltmmnunoovppqwqrrxsstytuuzvvw0wxx1yyz2z113223434455666777889890091abc2def3ghi4jkl5mno6pqr7stu8vwx9yz11aab2bcc3dd4ee5ff6gg7hh8ii9j0jk1kl2lmm3nnoo4p5pq6qrr7ss8tt9uuvv0wwx1x2yyzz13aba4cbcb5dcdc6dedfef8egf9gfh0ghg1ihi2hji3jik4jkj5lkl6kml7mln8mnm9ono
-->
<html xmlns="http://www.w3.org/1999/xhtml" dir='ltr'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Pillars &rsaquo; 初始化</title>
		<link rel="stylesheet" href="/static/Initialization/css/install.css?ver=3.7" type="text/css" />
		<link rel="stylesheet" href="/static/Initialization/css/buttons.css?ver=3.7" type="text/css" />
	</head>
	<body id="error-page">
		<h1 id="logo"><a href="http://pillars.cc/">Pillars</a></h1>
		<p>
			由于
			<code>
				user.settings
			</code>
			文件显示，系统为初始化或初始化出现问题，所以需要您将系统进行初始化操作。
		</p>
		<p>
			需要帮助请点击 <a href='http://pillars.cc'>帮助</a>.
		</p>
		<p>
			现在就进行初始化请点击
		</p>
		<p>
			<a href="/Initialization/validate">初始化操作</a>
		</p>
	</body>
</html>
