<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pillars</title>
<link rel="stylesheet" href="/static/Initialization/css/install.css?ver=3.7" type="text/css" />
<link rel="stylesheet" href="/static/Initialization/css/buttons.css?ver=3.7" type="text/css" />

</head>
<body class="wp-core-ui">
<h1 id="logo"><a href="http://pillars.cc/">Pillars</a></h1>
<p style="color:green;">恭喜您，Pillars ID 验证成功. </p>
<p>在正式开始之前，您需要填写一些信息，用以保证系统更人性化的为您提供帮助，包含以下内容：</p>
<ol>
	<li>语言和时区信息</li>
	<li>邮箱信息</li>
	<li>App信息</li>
</ol>
<p class="step"><a href="/Initialization/1" class="button button-large">立马行动！</a></p>

</body>
</html>
