<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pillars</title>
<link rel="stylesheet" href="/static/Initialization/css/install.css?ver=3.7" type="text/css" />
<link rel="stylesheet" href="/static/Initialization/css/buttons.css?ver=3.7" type="text/css" />

</head>
<body class="wp-core-ui">
<h1 id="logo"><a href="http://pillars.cc/">Pillars</a></h1>
<form method="post" action="">
	<table class="form-table">
		<tr>
			<th scope="row"><label for="dbname">语言</label></th>
			<td><select id="language" name="language">
					<option value="zh-cn">中文简体</option>
				</select></td>
			<td> </td>
		</tr>
		<tr>
			<th scope="row"><label for="uname">时区</label></th>
			<td><select id="timezone" name="timezone">
					<option value="beijing">北京时间</option>
				</select></td>
			<td> </td>
		</tr>
	</table>
		<p class="step"><input name="submit" type="submit" value="下一步" class="button button-large" /></p>
</form>
</body>
</html>
